# Node / Expo
node_modules/
.expo/
.expo-shared/
dist/
web-build/
build/

# Env
.env
.env.*

# Python
.venv/
venv/
__pycache__/
*.pyc

# Audio / temp
*.wav
*.m4a
*.aac
*.mp3

# Models (CRÍTICO)
*.bin
*.pt
*.gguf
*.onnx

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Misc
tmp/
temp/
